._*
.DS_Store
.ios.conf
.HA_VERSION
.cloud
.storage
*.Trash*
*.trashinfo
esphome/camera*
__pycache__
node-red
octoprint
tts/*.mp3
zones
.uuid
home-assistant_v2.db
home-assistant.log
known_devices.yaml
life360.conf
OZW_Log.txt
*.sqlite
secrets*
zw*.xml
sounds
images
.google.token
.spotify-token-cache
google_calendars.yaml
groups/people.yaml
cast/google.yaml
